<!DOCTYPE html>
<html>
	<head>
		<title>Usb's Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Django Usb Blog</a></h1>
		</div>

		<div>
			<p> published: 15.03.2017, 12:14</p>
			<h2><a href="">My First Post</a></h2>
			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam veneatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapubus,tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		</div>

		<div>
			<p>published: 15.03.2017, 12:14</p>
			<h2><a href="">My Second Post</a></h2>
			<p>Hi there!</p>
        	<p>It fucking works!</p>
        	<p>To register:</p>
        	<form>
        		First Name:<br>
        		<input type = "text" name = "firstname"><br>
        		<input type = "radio" name = "gender" value = "male" checked> Male<br>
        		<input type = "radio" name = "gender" value = "female"> Female<br>
        	</form>
        </div>
	</body>
</html>